@import "scroll";
@mixin spacer{
  .spacer {
    flex: 1 1 auto;
  }
}

@mixin center {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@mixin select {
  ng-select {
    width: 100%;
    font-size: 15px;
  }
}

@mixin container {
  .container {
    display: flex;
    height: 90%;
    overflow: auto;
  }
  @include center();
}

@mixin table {
  @include scroll();
  th {
    background-color: #dcd8d6;
  }
  table {
    width: 100%;
  }
  button{
    float: right;
    margin-left: 20px;
  }
}

@mixin toolbar-row{
  @include select();
  @include spacer();
  .toolbar-row{
    padding: 0 10px 0 10px
  }

}
