$color-red: #e74c3c;
$color-green: #2ecc71;
$color-primary: #4F7D96;
$color-light: #dcd8d6;
$color-pushti: #8c83ff;
$color-warn: #ffcc00;
$color-light-grey: #f3f3f3;
$color-grey: grey;
$color-ashes: #e6e6e6;
$color-request: #9ecdf7;
$color-send: #94f79c;
