@import "additonal";

@mixin simpleFormSpacer {
  .example-form {
    width: 100%;
  }

  .example-full-width {
    width: 20%;
    margin-right: 30px;
  }
}

@mixin buttonFormSpacer {
  @include select();

  .example-form {
    width: 40%;
    justify-content: center;
    margin-left: 30%;

    button {
      float: right;
      margin-left: 20px;
    }
  }

  .example-full-width {
    width: 100%;
  }
}

.button-scuere {
  background-color: $color-primary;
}

button {
  color: $color-primary;
}

.mat-table tr th {
  background-color: $color-light-grey;
  font-weight: 600;
}

.mat-toolbar {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #E6E6E6;
  border-radius: 10px;
}

.close-btn-chip {
  background-color: $color-red;
  color: white;
  border-radius: 20px;
}
.done-btn-chip {
  background-color: $color-green;
  color: white;
  border-radius: 20px;
}

.search-size{
  font-size: 14px;
}