@import "src/assets/scss/color";

@mixin scroll {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-light-grey;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-ashes;

    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
  }
}

@mixin screenScroll {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
