@import "../../../../../../assets/scss/form";

.sidenav {
  background-color: #4f7d9629;
  width: 16px;
  height: 100%;
  mat-icon {
    position: relative;
    top: 50%;
  }
  mat-icon:hover {
    cursor: pointer;
  }
  mat-list-item {
    color: #9fc7dc;

    &:hover {
      background-color: #9fc7dc;
      color: #4f7d96;

      mat-icon {
        color: #4f7d96;
      }
    }
  }

  .active {
    background-color: #9fc7dc;
    color: #4f7d96;

    mat-icon {
      color: #4f7d96;
    }
  }
}
