 div{
     background: #ededed;
     img {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
 }
 