<div class="topnav" [ngClass]="{'topnav-violet':blog}">
  
    <div class="top-navbar">
      <div class="nav-left">
        <a [routerLink]="['/']"  ><img  src="assets/img/mnWho-logo-violet.svg" alt="logo"></a>
      </div>
      <div class="nav-right ">
        <ul class="d-none d-md-flex">
          <!-- <li><a class="btn" routerLinkActive="btn-green" [ngClass]="{'text-white': blog}" routerLink="/brand-how-to">How it works</a></li> -->
          <li><a class="btn" routerLinkActive="btn-violet" [ngClass]="{'text-white': blog}" routerLink="/influencers">Influencer</a></li>
          <li><a class="btn" routerLinkActive="btn-green" [ngClass]="{'text-white': blog}" routerLink="/brands">Brands</a></li>
          <li><a class="btn btn-border-primary" routerLinkActive="btn-violet" [ngClass]="{'text-white': blog}" routerLink="/login">Login</a></li>
        </ul>
        <div id="myNav" class="overlay d-md-none">
          <ul class="overlay-content" *ngIf="showMobileMenu">
            <!-- <li><a class="btn" routerLinkActive="btn-green" [ngClass]="{'text-white': blog}" routerLink="/brand-how-to">How it works</a></li> -->
            <li><a class="btn" routerLinkActive="btn-violet" [ngClass]="{'text-white': blog}" routerLink="/influencers">Influencer</a></li>
            <li><a class="btn" routerLinkActive="btn-green" [ngClass]="{'text-white': blog}" routerLink="/brands">Brands</a></li>
            <li><a class="btn btn-border-primary" routerLinkActive="btn-violet" [ngClass]="{'text-white': blog}" routerLink="/login">Login</a></li>
          </ul>
          <span *ngIf="!showMobileMenu" class="hamb-menu" (click)="showMobileMenu=true">&#9776; </span>
          <span *ngIf="showMobileMenu" class="closebtn" (click)="showMobileMenu=false">&times;</span>
        </div>
      </div>
    </div>
</div>
