.topnav {
  background-color: #ffffff;
  padding: 10px 130px 10px 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000000;
  .top-navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    .nav-left{
      margin-top: 7px;
    }
    .nav-right {
      display: inline-flex;
      ul {
        margin: 0px;
        li {
          margin-top: 0;
          padding: 0 3px;
          list-style-type: none;
          .btn-border-primary{
            background: #FFFFFF;
            border: 2px solid #6B80F0;
            box-sizing: border-box;
            color: rgba(107, 128, 241, 1)!important;
          }
        }
      }
      // Navbar mobile
      .overlay {
        align-items: center;
        background-color: #fff;
        margin-top: 210px;
        ul {
          display: inline-flex;
          display: block;
          // width: 100%;
          padding: 10px;
          text-align: center;
          li{
            display: inline-block;
            width: 100%;
          }
        }
        // Hamburger menu and close button
        .hamb-menu,
        .closebtn {
          align-self: flex-end;
          position: absolute;
          top: 15px;
          right: -20px;
          font-size: 30px;
          cursor: pointer;
          color: #000000;
          padding: 0;
          display: inline-block;
        }
      }
    }
  }

  &-violet{
    background-color: #707fda;
  }
}

@media (max-width: 720px) {
  .topnav{
    padding: 10px;
    .top-navbar{
      .nav-right{
        .overlay{
          margin-top: 0;
          .hamb-menu{
            position: relative;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
