.footer {
  background: #383b50;

  &-top {
    padding: 24px 130px 5px;
    .logo img {
      width: 140px;
      height: 30px;
    }
  }

  &-social {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 0px;
      li {
        list-style-type: none;
        margin-right: 20px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

    ul {
      margin-bottom: 20px;
      li {
        margin-bottom: 20px;
        list-style-type: none;
        h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          color: #FFFFFF;
        }
        a {
          font-weight: normal;
          font-size: 18px;
          line-height: 20px;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

  &-bottom {
    padding: 24px 130px 5px;
    display: flex;
    justify-content: space-between;

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
    }

    a {
      margin-left: 40px;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  .separator-white{
    border-top: 1px solid #ffffff;
  }
}
