<footer class="footer">
  <div class="row footer-top">
    <div class="col-12 col-lg-3">
      <div class="logo">
        <img src="./assets/img/mnWho-logo.svg" alt="logo">
      </div>
      <div class="footer-social">
        <ul>
          <li><a href="#"><img src="./assets/img/blog/instagram1.svg" alt="insta"></a></li>
          <li><a href="#"><img src="./assets/img/blog/facebook.svg" alt="insta"></a></li>
          <li><a href="#"><img src="./assets/img/blog/twitter.svg" alt="insta"></a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="row footer-link"> -->
    <div class="col-12 col-sm-6 col-lg-2">
      <ul>
        <li>
          <h3>Influencers</h3>
        </li>
        <li><a routerLink="/influencers">Influencer </a></li>
        <li><a routerLink="/influencer-pricing">Influencer pricing</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-2">
      <ul>
        <li>
          <h3>Brands</h3>
        </li>
        <li><a routerLink="/brands">Brand</a></li>
        <li><a routerLink="/brand-pricing">Brand pricing</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-2">
      <ul>
        <li>
          <h3>Resources</h3>
        </li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <ul>
        <li>
          <h3>About us</h3>
        </li>
        <li><a routerLink="/career">career</a></li>
        <li><a routerLink="/contact-us">Contact us</a></li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
  <div class="separator-white container-fluid"></div>
  <div class="footer-bottom">
    <div>
      <p>© mnWho 2021. All rights reserved</p>
    </div>
    <div>
      <a routerLink="/term-condition">Terms and Conditions</a>
    </div>
  </div>
</footer>