.example-icon {
  padding: 0 15px;
}

.menu {
  background: #4F7D96;
  margin-left: -15px;
  width: 50px;
  height: 50px;
}

.menu-buttons {
  width: 160px;
}

.mcs-color {
  background: white;
  color: white;
}

.logo-mcs img {
  height: 25px;
  margin-right: 7px;
  margin-top: 7px;
}
.spacer {
  flex: 1 1 auto;
}