<mat-toolbar class="mcs-color">
  <mat-toolbar-row class="toolbar-row">
    <button mat-button (click)="isExpanded= !isExpanded; onClick();" class="menu">
      <i class="material-icons">menu</i>
    </button>
    <div class="logo-mcs">
      <img src="./assets/img/admin.png">
    </div>
    <p>Admin Console</p>
    <span class="spacer"></span>
    <button style="background-color: #4F7D96;" mat-button [matMenuTriggerFor]="x.menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <app-menu #x="menuInOtherComponent"></app-menu>
  </mat-toolbar-row>
</mat-toolbar>
