<mat-card class="mcs-color">
    <mat-toolbar-row class="toolbar-row">
        <div class="inline">
            <mat-form-field appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field appearance="outline">
                <mat-label>Биринчи инстанция</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-toolbar-row>
</mat-card>

<mat-card class="second">
    <div style="margin-bottom: 43px; align-items: center; display: flex; ">
        <img src="../../../../../assets/img/article.png" alt="">
        <p class="high-text">Маъмурий низо - Биринчи инстанция</p>
    </div>
    <div class="toolbar-row">
        <div class="inline">
            <mat-form-field class="inline-first" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-first" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-first" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-third" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display: flex; align-items: center;">
            <mat-slide-toggle color="primary">Колдик</mat-slide-toggle>
        </div>
    </div>
</mat-card>

<mat-card class="third">
    <div style="margin-bottom: 43px;  align-items: center; display: flex;">
        <img src="../../../../../assets/img/find.png" alt="">
        <p class="high-text">Ариза (шикоят) мазмуни</p>
    </div>

    <div class="toolbar-row">
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>

<mat-card class="four">
    <div style=" margin-bottom: 20px; align-items: center; display: flex;">
        <img src="../../../../../assets/img/calculate.png" alt="">
        <p class="high-text"> Суд ҳаражатлари</p>
    </div>
    <div>
        <mat-form-field class="order" appearance="outline">
            <mat-label>Маъмурий низо</mat-label>
            <input matInput placeholder="Электрон тўлов рақами" type="text" required>
            <mat-icon matSuffix><img src="../../../../../assets/img/support1.png" alt=""></mat-icon>
        </mat-form-field>
    </div>
    <div class="toolbar-row">
        <div class="inline">
            <mat-form-field class="inline-first input-color" appearance="outline">
                <mat-label>Ихтиёрий туланган давлат божи:</mat-label>
                <input matInput placeholder="Ихтиёрий туланган давлат божи:" type="text" required>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <button class="inline-button">Чет эл валютасидаги тўлов</button>
        </div>
        <div class="inline">
            <mat-form-field class="inline-third" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-four" appearance="outline">
                <mat-label>Ихтиёрий туланган давлат божи:</mat-label>
                <input matInput placeholder="Ихтиёрий туланган давлат божи:" type="text" required>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-five" appearance="outline">
                <mat-label>Ихтиёрий туланган давлат божи:</mat-label>
                <input matInput placeholder="Ихтиёрий туланган давлат божи:" type="text" required>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-six" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="inline">
            <div class="last-button">
            </div>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="inline">
            <mat-form-field class="inline-first input-color" appearance="outline">
                <mat-label>Ихтиёрий туланган давлат божи:</mat-label>
                <input matInput placeholder="Ихтиёрий туланган давлат божи:" type="text" required>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <button class="inline-button">Чет эл валютасидаги тўлов</button>
        </div>
    </div>
    <div class="toolbar-row">
        <div class="inline">
            <mat-form-field class="inline-first input-color" appearance="outline">
                <mat-label>Ихтиёрий туланган давлат божи:</mat-label>
                <input matInput placeholder="Ихтиёрий туланган давлат божи:" type="text" required>
            </mat-form-field>
        </div>
        <div class="inline">
            <mat-form-field class="inline-second" appearance="outline">
                <mat-label>Маъмурий низо</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="inline">
            <button class="inline-button">Чет эл валютасидаги тўлов</button>
        </div>
    </div>
</mat-card>

<mat-card class="five">
    <div style=" margin-bottom: 43px; align-items: center; display: flex;">
        <img src="../../../../../assets/img/info.png" alt="">
        <p class="high-text"> Бошка маълумотлар</p>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Маъмурий низо</mat-label>
            <input matInput placeholder="Электрон тўлов рақами" type="text" required>
        </mat-form-field>
    </div>
</mat-card>

<div style="float: right; margin-top: 88px;">
    <button class="cancel">Бекор килиш</button>
    <button class="save">Саклаш</button>
</div>