.mcs-color {
  width: 1640px;
  height: 64px;
  margin: 16px 0px 8px 8px;
  .toolbar-row {
    width: 64px;
    display: flex;
    .inline {
      display: flexbox;
      margin-right: 71px;
      //   margin-top: 24px;
    }
  }
}

.second {
  width: 1640px;
  height: 136px;
  margin: 16px 0px 8px 8px;
  img {
    display: inline;
  }
  .high-text {
    text-align: left;
    display: inline;
    font: normal normal 600 14px/16px Qanelas;
    letter-spacing: 0.42px;
    color: #1b1d2c;
    opacity: 1;
    margin: 0;
  }
  .toolbar-row {
    width: 80px;
    display: flex;
    margin: 0;
    .inline {
      display: flexbox;
      margin-right: 16px;
      .inline-first {
        width: 160px;
        height: 40px;
      }
      .inline-second {
        width: 328px;
        height: 40px;
      }
      .inline-third {
        width: 448px;
        height: 40px;
      }
    }
  }
}
.third {
  width: 1640px;
  height: 136px;
  margin: 16px 0px 8px 8px;
  img {
    display: inline;
  }
  .high-text {
    display: inline;
    text-align: left;
    font: normal normal 600 14px/16px Qanelas;
    letter-spacing: 0.42px;
    color: #1b1d2c;
    opacity: 1;
    margin: 0;
  }
  .toolbar-row {
    width: 80px;
    display: flex;
    margin-bottom: 16px;
    .inline {
      display: flexbox;
      margin-right: 16px;

      .inline-second {
        width: 392px;
        height: 40px;
      }
    }
  }
}
.four {
  width: 1640px;
  height: 296px;
  margin: 16px 0px 8px 8px;
  img {
    display: inline;
  }
  .high-text {
    display: inline;
    align-items: center;
    text-align: left;
    font: normal normal 600 14px/16px Qanelas;
    letter-spacing: 0.42px;
    color: #1b1d2c;
    opacity: 1;
    margin: 0;
  }
  .order {
    width: 280px;
    height: 40px;
    margin-bottom: 16px;
  }
  .toolbar-row {
    width: 80px;
    display: flex;
    margin-bottom: 16px;
    .inline {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .inline-first {
        width: 280px;
        height: 40px;
      }
      .inline-second {
        width: 392px;
        height: 40px;
      }
      .inline-button {
        width: 216px;
        height: 40px;
        background: #fe844b 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #fe844b3d;
        border-radius: 5px;
        opacity: 1;
        color: #ffffff;
      }
      .inline-third {
        width: 120px;
        height: 40px;
      }
      .inline-four {
        width: 144px;
        height: 40px;
      }
      .inline-five {
        width: 192px;
        height: 40px;
      }
      .inline-six {
        width: 128px;
        height: 40px;
      }
      .last-button {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: transparent url("../../../../../assets/img/circle.png") 0%
          0% no-repeat padding-box;
        opacity: 1;
      }
    }
  }
}
.five {
  width: 1640px;
  height: 136px;
  margin: 16px 0px 8px 8px;
  img {
    display: inline;
  }
  .high-text {
    display: inline;
    margin: 0;
    text-align: left;
    font: normal normal 600 14px/16px Qanelas;
    letter-spacing: 0.42px;
    color: #1b1d2c;
    opacity: 1;
  }

  .mat-form-field {
    width: 100%;
  }
  //   input {
  //     // width: 1608px;
  //     height: 48px;
  //     background: #ffffff 0% 0% no-repeat padding-box;
  //     border: 1px solid #d6dee4;
  //     border-radius: 5px;
  //     opacity: 1;
  //   }
}
.cancel {
  width: 120px;
  height: 32px;
  background: #7a868f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #7a868f29;
  border-radius: 5px;
  opacity: 1;
  color: #ffffff;
  margin-right: 30px;
}
.save {
  width: 80px;
  height: 32px;
  background: #fe844b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fe844b3d;
  border-radius: 5px;
  opacity: 1;
  color: #ffffff;
}
:host ::ng-deep .mat-form-field-wrapper {
  color: #d6dee4;
  margin: 0 !important;
  padding: 0;
}
.input-color{
   background-color:  #E3EEF3;
}