<div class="banner-container" [ngClass]="[type != 'both' ? type != 'blue' ? 'green' : 'blue' : 'both']">
    <div class="banner-text-container">
      <div class="banner-content-component" [ngClass]="[text ? 'with-paragraph' : '']">
        <h2>{{title}}</h2>
        <p [innerHTML]="text"></p>
      </div>
    </div>
    <div class="banner-img">
      <img src="{{img}}" alt="banner" class="img">
      <div class="overlay" [ngClass]="[type != 'both' ? type != 'blue' ? 'green' : 'blue' : 'both']"></div>
    </div>
  </div>