
.banner-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 350px;
  &.both{
    background-color: #6f82cb;
  }
  &.blue{
    background-color: #6f82cb;
  }
  &.green{
    background-color: #6a9586;
  }
  .banner-text-container{
    width: 33%;
    
    
    .banner-content-component {
      max-width: 669px;
      width: 100%;
      position: absolute;
      padding: 100px 110px;
      z-index: 100000;
      &.with-paragraph{
        padding: 50px 110px;
      }
      .btn{
        font-weight: 100%!important;

      }
      h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        margin-bottom: 10px;
      }
      h2 {
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        color: #ffffff;
        margin-bottom: 20px;
      }
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
        color: #ffffff;
      }
      // .btn-container{
      //   .btn-blue-opacity{
      //     background-color: #E6EAFF;
      //     box-shadow: 0px 4px 20px rgba(54, 72, 170, 0.27);
      //     color: rgba(112, 127, 218, 1);
      //   }
      //   .btn-green-opacity{
      //     background-color: #F9FFFE;
      //     box-shadow: 0px 4px 20px rgba(54, 72, 170, 0.27);
      //     color: rgba(106, 149, 134, 1);

      //   }
      // }
    }
    

  }
  .banner-img{
    width: 77%;
    position: relative;
    .img{
      width: 100%;
      height: 100%;
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      &.both{
        background: linear-gradient(to left, rgba(106, 149, 134, 0.3) 0%, rgba(111, 130, 203, 1) 100%, rgba(106, 149, 134, 1) 100%);
      }
      &.blue{
        background: linear-gradient(
      to left, #ffffff59 0%, #707fda 100%, #707fda 100%);
      }
      &.green{
        background: linear-gradient(to left, #ffffff59 0%, #6a9586 100%, #6a9586cf 100%);

      }
      
    }
  }
}

@media (max-width: 1300px){
.banner-container {
  .banner-text-container{
    .banner-content-component {
      h2{
        font-size: 45px;
        line-height: 50px;
      }
      p{
        font-size: 18px;
      }
      
    }
    
  }


}

}


@media (max-width: 768px){
.banner-container {
  .banner-text-container{
    .banner-content-component {
      max-width: 669px;
      width: 100%;
      position: absolute;
      padding: 100px 40px;
      z-index: 100000;

      h2{
        font-size: 35px;
        line-height: 45px;
      }
      p{
        font-size: 16px;
      }
      
    }
    
  }


}

}

@media (max-width: 500px){
.banner-container {
  .banner-text-container{
    .banner-content-component {
      .btn{
        width: 100%;
        margin-top: 10px;
      }
      
    }
    
  }


}

}
