<div class="content">
    <div class="login">
        <div class="login-left">
            <div class="img">

            </div>
        </div>
        <div class="login-right">
            <div class="forms">
                <img src="../../../../../assets/img/oneconnect.png" alt="">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="asliddin@gmail.com" formControlName="email"
                                value="asliddin@gmail.com">
                                <mat-error *ngIf="hasError('email', 'required')">haqiqiy elektron pochta  kiriting </mat-error>
                                <mat-error *ngIf="hasError('email', 'email')">ishlayotgan email  kiriting </mat-error>
                                <mat-error *ngIf="hasError('email', 'minlength')">minimum 5 ta belgidan iborat bo'sin</mat-error>
                                <mat-error *ngIf="hasError('email', 'maxlength')">minimum 30 ta belgidan iborat bo'sin</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password" value="123456"
                                [type]="hide.password ? 'password' : 'text'" formControlName="password" required>
                            <mat-icon matSuffix (click)="hide.password  = !hide.password ">{{hide ? 'visibility_off' :
                                'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="hasError('password', 'required')">Password  kiriting </mat-error>
                            <mat-error *ngIf="hasError('password', 'minlength')">minimum 5 ta belgidan iborat bo'sin</mat-error>
                            <mat-error *ngIf="hasError('password', 'maxlength')">minimum 30 ta belgidan iborat bo'sin</mat-error>
                        </mat-form-field>
                    </div>
                    <button [disabled]="registerForm.invalid" type="submit" class="btn">
                         Registeration
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>