.content {
    min-width: 1920px;
    min-height: 1080px;
    width: 100%;
    height: 100%;
    background: #4f7d96 0% 0% no-repeat padding-box;
    opacity: 1;
    .login {
      &-left {
        position: relative;
        bottom: 159px;
        top: 160px;
        left: 315px;
        width: 660px;
        height: 761px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 16px;
        background-color: #d1dde9;
        opacity: 1;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        .img {
          position: absolute;
          top: 74px;
          left: 56px;
          width: 589px;
          height: 589px;
          background: transparent url("../../../../../assets/img/iamge.png") 0% 0%
            no-repeat padding-box;
          background-size: 589px 589px;
          opacity: 1;
        }
      }
  
      &-right {
        position: absolute;
        top: 160px;
        left: 960px;
        bottom: 159px;
        width: 608px;
        height: 761px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 0px 16px 16px 0px;
        opacity: 1;
        .forms {
          position: relative;
          left: 128px;
          right: 136px;
          width: 344px;
          img {
            position: relative;
            top: 105px;
            left: 53px;
            height: 146px;
            width: 212px;
          }
          form {
            top: 170px;
            position: relative;
            width: 344px;
            .example-form {
              width: 344px;
              height: 48px;
            }
            .example-full-width {
              width: 344px;
              height: 48px;
              margin-bottom: 16px;
              mat-icon:hover {
                cursor: pointer;
              }
            }
            .check-login {
              width: 344px;
              height: 40px;
              margin-bottom: 24px;
              button {
                float: right;
                width: 104px;
                height: 40px;
                background: #fe844b 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #fe844b3d;
                border-radius: 5px;
                opacity: 1;
                color: #ffffff;
              }
            }
            hr {
              position: relative;
              width: 344px;
              left: 0;
              margin-left: 0px;
              margin-bottom: 16px;
            }
            p {
              text-align: left;
              font: normal normal normal 12px/16px Qanelas;
              letter-spacing: 0px;
              color: #7a868f;
              opacity: 1;
            }
            .btn {
              position: relative;
              width: 344px;
              height: 40px;
              background: #4f7d96 0% 0% no-repeat padding-box;
              box-shadow: 0px 3px 2px #00000029;
              border: 1px solid #4f7d96;
              border-radius: 5px;
              opacity: 1;
              color: #ffffff;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  