@import "../../../../../assets/scss/form";

.text-center {
  text-align: center;
  margin: 20px;

  .dialog-view {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    .dialog-btn {
      background-color: $color-primary;
      color: white;
      border-radius: 20px;
      width: 100px;
      margin: 0px 5px;
    }

    .dialog-stroked-btn {
      border-radius: 20px;
      width: 100px;
    }
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.item {
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: #f3f3f3;
    mat-icon {
      color: #f3f3f3;
    }
  }
}
