<mat-menu>
  <div class="text-center">
    <img [src]="user.avatar ? user.avatar :
      './assets/img/avatar.png'">
    <p>{{user.email}}</p>
  </div>

  <mat-nav-list>
    <mat-list-item class="item" routerLink="/api/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <p matLine>{{'profile'| translate }}</p>
    </mat-list-item>

    <mat-list-item class="item" (click)="logout()">
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <p matLine>{{'logout' | translate }}</p>
    </mat-list-item>
  </mat-nav-list>

  <div class="text-center">
    <div mat-dialog-content>
      <p>Language</p>
      <div mat-dialog-actions class="dialog-view">
        <button mat-stroked-button [ngClass]="[ language ==='en' ? 'dialog-btn' : 'dialog-stroked-btn' ]"
          (click)="setLanguage('en')">{{'english' | translate}}</button>
        <button mat-stroked-button [ngClass]="[ language ==='uz' ? 'dialog-btn' : 'dialog-stroked-btn' ]"
          (click)="setLanguage('uz')">{{'Uzbek' | translate}}</button>
      </div>
    </div>
  </div>
</mat-menu>