<app-toolbar></app-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav mode="side" opened="true">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
