

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="4" matBadgeOverlap="false">Электрон кабул</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="4" matBadgeOverlap="false">Руйхатга олиш</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Таксимаш"> </mat-tab>
  <mat-tab label="Иш юритишни тиклаш"></mat-tab>
  <mat-tab label="Натижани кабул килиш"> </mat-tab>
  <mat-tab label="Кайта таксимлаш"> </mat-tab>
  <mat-tab label="Учирилган"> </mat-tab>
  <mat-tab label="Рад этилган"> </mat-tab>
</mat-tab-group>