.toolbar-row {
  width: 1062px;
}
.mat-tab {
  text-align: left;
  font: normal normal 600 14px/18px Qanelas;
  letter-spacing: 0.42px;
    color: #fe844b;
  opacity: 1;
}

::ng-deep .mat-ink-bar {
    background: #FE844B 0% 0% no-repeat padding-box !important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px;
   margin-left: 10px;
   color: white;
   background-color: #FE844B;
}