<div class="text-center">
	<div mat-dialog-content>
		<!-- <img src="../../../../assets/images/logo.png" alt=""> -->
		<p>404 NOT FOUND</p>
  
	  <div mat-dialog-actions class="dialog-view">
		<button mat-flat-button class="dialog-btn" routerLink="/">Home</button>
	  </div>
	</div>
  </div>
  