// @import "../../../../assets/scss/form";

.text-center {
  text-align: center;
  margin-top: 5%;

  p{
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

  .dialog-view {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
  
	.dialog-btn {
		background-color:blue;
		color: white;
		border-radius: 20px;
		width: 100px;
	  }
  }
}


