<div class="sidenav">
  <mat-nav-list>
    <div>
      <mat-list-item [routerLink]="[routeEnum.Registration]" routerLinkActive="active">
        <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
        <p *ngIf="isExpanded">{{'registration' | translate}}</p>
      </mat-list-item>
    </div>
    <div>
      <mat-list-item [routerLink]="[routeEnum.AdminWorks]" routerLinkActive="active">
        <mat-icon mat-list-icon>description</mat-icon>
        <p *ngIf="isExpanded">{{'admin_work' | translate}}</p>
      </mat-list-item>
    </div>
    <div>
      <mat-list-item [routerLink]="[routeEnum.UserList]" routerLinkActive="active">
        <mat-icon mat-list-icon>list</mat-icon>
        <p *ngIf="isExpanded">{{'user_list' | translate}}</p>
      </mat-list-item>
    </div>
  </mat-nav-list>

</div>