// @import "../../../../../assets/scss/form";

.sidenav {
  background-color: #4f7d96;
  height: 100%;
  mat-list-item {
    color: #9fc7dc;
    p {
      margin: 0;
    }
    &:hover {
      background-color: #9fc7dc;
      color: #4f7d96;

      mat-icon {
        color: #4f7d96;
      }
    }
  }

  .active {
    background-color: #9fc7dc;
    color: #4f7d96;

    mat-icon {
      color: #4f7d96;
    }
  }
}
