<div class="sidenav"  *ngIf="isExpanded">
    <div style="align-items: center; display: flex; ">
        <img src="../../../../../../assets/img/filter.svg" style="padding: 10px;" alt="filter">
        <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Search</mat-label>
            <input type="text" matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        
    </div>
    <mat-card *ngFor="let order of obs | async">
        <div class="inline">
            <span>{{order.qaror}}</span>
            <span>
               <img src="../../../../../../assets/img/download.svg" alt="download">{{order.yuklangan}}
            </span>
            <span>
                <img src="../../../../../../assets/img/gavel.svg" alt="gavel"> {{order.tasdiqlangan}}
            </span>
        </div>
        <p class="inline-text">{{order.nomi}}</p>
        <button mat-button>Тулик канаотлантирилган</button>
    </mat-card>
<mat-paginator [length]="100"
              [pageSize]="4"
              aria-label="Select page">
</mat-paginator>

</div>