@import "../../../../../../assets/scss/form";

.sidenav {
  background-color: #ffffff;
  width: 528px;
  height: 100%;
  .filter {
    margin: 16px;
  }
  .example-full-width {
    width: 456px;
    height: 40px;
    margin: 16px 16px 16px 0px;
    mat-icon:hover {
      cursor: pointer;
    }
  }
  mat-card {
    border-bottom: 1px solid lightgrey;
    .inline {
      display: flex;
      span {
        margin: auto;
        margin-left: 0px;
        display: inline-flex;
        justify-content: space-between;
      }
    }
    .inline-text {
      margin-top: 16px;
      text-align: left;
      font: normal normal medium 12px/16px Qanelas;
      letter-spacing: 0.36px;
      color: #1b1d2c;
      opacity: 1;
    }
    button {
      background-color: #46df6a4f;
      border-radius: 16px;
      opacity: 1;
      color: #107d38;
    }
  }
  mat-list-item {
    // color: #9FC7DC;

    // &:hover {
    //   background-color: #9FC7DC;
    //   color: #4F7D96;

    //   mat-icon {
    //     color:#4F7D96;
    //   }
    // }
  }

  .active {
    // background-color: #9FC7DC;
    // color: #4F7D96;

    // mat-icon {
    //   color: #4F7D96;
    // }
  }
}
