/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// .mat-form-field-appearance-outline .mat-form-field-wrapper {
//   margin: 0px 0;
// }
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  max-height: 40px !important;
}
// .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
//   padding: 0px;
// }
// .mat-form-field-appearance-outline .mat-form-field-infix {
//     margin: 0px;
//   padding: 0.7em 0 0.7em 0;
// }
// .mat-form-field-appearance-outline .mat-form-field-flex {
//   padding: 0px;
//   margin-top: 0px;
//   position: relative;
// }
// .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0px;
// }
// // // Mat input field styling placeholder position
// .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 10px 0 9px 0;
// }
.mat-hint {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.form-group {
  margin-bottom: 20px;
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix {
  padding: 0.5em 0px;
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper {
  top: -1em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  // transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
