.sidenav-container {
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
}
mat-sidenav-content {
  display: flex;
}
.sidenav-content {
  height: 100%;
  justify-content: center;
}

.mcs-color {
  width: 1096px;
  height: 111px;
  margin: 16px 0px 16px 8px;
  .high-text {
    text-align: left;
    font: normal normal 600 18px/16px Qanelas;
    letter-spacing: 0.54px;
    color: #4f7d96;
    opacity: 1;
  }
  .toolbar-row {
    width: 80px;
    display: flex;
    .inline {
      display: flexbox;
      margin-right: 71px;
      .first {
        text-align: left;
        font: normal normal normal 12px/16px Qanelas;
        letter-spacing: 0.36px;
        color: #7a868f;
        opacity: 1;
      }
      p {
        text-align: left;
        font: normal normal 600 14px/16px Qanelas;
        letter-spacing: 0.42px;
        color: #1b1d2c;
        opacity: 1;
      }
      span {
        margin: auto;
        margin-left: 0px;
        display: inline-flex;
        justify-content: space-between;
      }
    }
    button {
      flex: 1 1 auto;
      width: 94px;
      height: 32px;
      background: #fe844b 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #fe844b3d;
      border-radius: 5px;
      opacity: 1;
      color: #ffffff;
    }
  }
}

.cards {
  width: 1096px;
  height: 728px;
  margin: 0px 16px 16px 8px;
  .high-text {
    text-align: left;
    font: normal normal 600 18px/16px Qanelas;
    letter-spacing: 0.54px;
    color: #4f7d96;
    opacity: 1;
  }
  mat-accordion{
    width: 100%;
  }
  mat-expansion-panel {
    text-align: left !important;
    font: normal normal 600 14px/16px Qanelas;
    letter-spacing: 0.42px;
    color: #1b1d2c;
    opacity: 1;
    .text {
      display: inline-flex;
      width: 500px;
    }
    span {
      margin: auto;
      margin-left: 0px;
      display: inline-flex;
      justify-content: space-between;
    }
  }
  .inline {
    // width: 100%;
    padding: 10px;
    // margin-right: 32px;
    display: flex;
    // margin-right: 71px;
    height: 48px;
    background: #e2edf2 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
    .first {
      text-align: left;
      font: normal normal medium 14px/16px Qanelas;
      letter-spacing: 0.42px;
      color: #557b90;
      opacity: 1;
      margin: auto;
      margin-left: 0px;
      display: inline-flex;
      justify-content: space-between;
    }
    .firsts {
      width: -25px;
      // text-align: left;
      font: normal normal medium 14px/16px Qanelas;
      letter-spacing: 0.42px;
      color: #557b90;
      margin: auto;
      margin-left: 0px;
    }
    p {
      text-align: left;
      font: normal normal 600 14px/16px Qanelas;
      letter-spacing: 0.42px;
      color: #1b1d2c;
      opacity: 1;
    }
    span {
      margin: auto;
      margin-left: 0px;
      display: inline-flex;
      justify-content: space-between;
    }
  }
  table {
    width: 100%;
  }

  .toolbar-row {
    width: 80px;
    display: flex;

    button {
      flex: 1 1 auto;
      width: 94px;
      height: 32px;
      background: #fe844b 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #fe844b3d;
      border-radius: 5px;
      opacity: 1;
      color: #ffffff;
    }
  }
}
table tr {
  padding: 3px;
}
.mat-expansion-panel-body {
  padding: 0 24px 16px;
}
.first-td {
  text-align: left;
  font: normal normal normal 12px/16px Qanelas;
  letter-spacing: 0.36px;
  color: #7a868f;
  opacity: 1;
}
.second-td {
  text-align: left;
  font: normal normal 600 14px/16px Qanelas;
  letter-spacing: 0.42px;
  color: #1b1d2c;
  opacity: 1;
}
.mat-expansion-panel-header {
  text-align: left;
  font: normal normal 600 14px/16px Qanelas;
  letter-spacing: 0.42px;
  color: #1b1d2c;
  opacity: 1;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0;
}
