<app-registration-toolbar></app-registration-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav mode="side" opened="true">
        <app-main-sidenav></app-main-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="sidenav-content">
            <app-main-sidenav-close></app-main-sidenav-close>
        </div>
        <div>
            <div>
                <mat-card class="mcs-color">
                    <mat-toolbar-row class="toolbar-row">
                        <p class="high-text">Маъмурий низо - Биринчи инстанция</p>
                    </mat-toolbar-row>
                    <mat-toolbar-row class="toolbar-row">
                        <div class="inline">
                            <p class="first">Хужжат номери</p>
                            <p>1234567890</p>
                        </div>
                        <div class="inline">
                            <p class="first">Хужжат санаси</p>
                            <p>12.02.2021</p>
                        </div>
                        <div class="inline">
                            <p class="first">Кирим санаси</p>
                            <p>12.02.2021</p>
                        </div>
                        <div class="inline">
                            <p class="first">Жунатиш тури</p>
                            <p>Почта</p>
                        </div>
                        <div class="inline">
                            <p class="first">Манфаатдор идора</p>
                            <p>Идоранинг номи</p>
                        </div>
                        <button style="float: right;">
                            Тулик куриш
                        </button>
                    </mat-toolbar-row>
                </mat-card>
            </div>
            <div>
                <mat-card class="cards">
                    <mat-toolbar-row class="toolbar-row">
                        <p class="high-text">Ариза (Шикоят) мазмуни</p>
                    </mat-toolbar-row>
                    <div class="inline">
                        <p class="first">№</p>
                        <p class="first">Иш туркуми</p>
                        <p class="first">Кушимча иш туркуми</p>
                        <p class="first">Иккиламчи иш туркуми</p>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    1
                                </mat-panel-title>
                                <mat-panel-title>
                                    10-Сайлов комиссияларнинг харакатлари низолашиш тугрисида
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table style='table-layout:fixed; width: 100%;'>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="first-td">Карор раками</td>
                                    <td class="first-td">Карор санаси</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="first-td">Карор кучга кирган сана</td>
                                        <td class="first-td">Бекор килиш учун асос</td>
                                    </tr>
                                </td>
                                <td class="first-td">Маъмурий орган номи</td>
                                </tr>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="second-td">1234567890</td>
                                    <td class="second-td">12.03.2021</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="second-td">12.03.2021</td>
                                        <td class="second-td">Келтирилган асос</td>
                                    </tr>
                                </td>
                                <td class="second-td">Маъмурий орган номи
                                    <tr>
                                        <td class="first-td">Карорни имзолаган шахс</td>
                                    </tr>
                                    <tr>
                                        <td class="second-td"> ANTONYUK SERGEY ALEKSANDROVICH </td>
                                    </tr>
                                </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    1
                                </mat-panel-title>
                                <mat-panel-title>
                                    10-Сайлов комиссияларнинг харакатлари низолашиш тугрисида
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table style='table-layout:fixed; width: 100%;'>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="first-td">Карор раками</td>
                                    <td class="first-td">Карор санаси</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="first-td">Карор кучга кирган сана</td>
                                        <td class="first-td">Бекор килиш учун асос</td>
                                    </tr>
                                </td>
                                <td class="first-td">Маъмурий орган номи</td>
                                </tr>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="second-td">1234567890</td>
                                    <td class="second-td">12.03.2021</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="second-td">12.03.2021</td>
                                        <td class="second-td">Келтирилган асос</td>
                                    </tr>
                                </td>
                                <td class="second-td">Маъмурий орган номи
                                    <tr>
                                        <td class="first-td">Карорни имзолаган шахс</td>
                                    </tr>
                                    <tr>
                                        <td class="second-td"> ANTONYUK SERGEY ALEKSANDROVICH </td>
                                    </tr>
                                </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    1
                                </mat-panel-title>
                                <mat-panel-title>
                                    10-Сайлов комиссияларнинг харакатлари низолашиш тугрисида
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                                <mat-panel-title>
                                    2.2 - Маъмурий орган, фукаролар узини узи бошкариш органларининг ва...
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table style='table-layout:fixed; width: 100%;'>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="first-td">Карор раками</td>
                                    <td class="first-td">Карор санаси</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="first-td">Карор кучга кирган сана</td>
                                        <td class="first-td">Бекор килиш учун асос</td>
                                    </tr>
                                </td>
                                <td class="first-td">Маъмурий орган номи</td>
                                </tr>
                                <tr>
                                    <td>
                                <tr>
                                    <td class="second-td">1234567890</td>
                                    <td class="second-td">12.03.2021</td>
                                </tr>
                                </td>
                                <td>
                                    <tr>
                                        <td class="second-td">12.03.2021</td>
                                        <td class="second-td">Келтирилган асос</td>
                                    </tr>
                                </td>
                                <td class="second-td">Маъмурий орган номи
                                    <tr>
                                        <td class="first-td">Карорни имзолаган шахс</td>
                                    </tr>
                                    <tr>
                                        <td class="second-td"> ANTONYUK SERGEY ALEKSANDROVICH </td>
                                    </tr>
                                </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card>
            </div>
        </div>
        <div>
        </div>

    </mat-sidenav-content>



</mat-sidenav-container>